/data/r13-measurement/
/data/r13-measurement/**
/*-measurement/**
**.h5
/.venv
gpgkey
/data/bare-measurement/
/data/advanced-bare-measurement/

PresentationNotes.MD
*.pdf
/data_local
/data_local/**
/build
/out
/dist
/dist-uv
/pixcap65/Data
/pixcap65/Data/**
/pixcap65/Data.backup-2026-04-26
!pixcap65/device

# environment manager
uv.lock
.venv*

# documentation building/docutils/sphinx
doc/docs/_build
!doc
!doc/*.pdf
